{% extends 'base.html' %}

{% load static %}

{% block title %}{% endblock %}

{% block sidebar %}{% endblock %}

{% block navs %}{% endblock %}

{% block sidenav %}{% endblock %}

{% block footer %}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
   
{% endblock %}

{% block content %}
    
    <div class="container">
        <div class="login-card">
            <div class="logo">
                <h1>NYONDO Hardware</h1>
                <p>Management System</p>
            </div>

            <div class="welcome-text">
                <h2>Welcome Back!</h2>
                <p>Login to access your dashboard</p>
            </div>

            
            <form action="{% url 'login' %}" method="POST" novalidate>
                {% csrf_token %}
                {% if error_message %}
                    <div class="alert">
                        <strong>Error:</strong> {{ error_message }}
                    </div>
                {% endif %}
                <div class="input-group">
                    <i class="fas fa-user"></i>
                    <input name="username" type="text" placeholder="Enter Username">
                </div>

                <div class="input-group">
                    <i class="fas fa-lock"></i>
                    <input name="password" type="password" placeholder="Password">
                </div>
                <button type="submit" class="login-btn">Login</button>
            </form>
        </div>
    </div>
    {% endblock %}
