{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/sidenav.css' %}">
{% endblock %}

<div class="sidebar">
    <h4><i class="fas fa-warehouse"></i> NYONDO</h4>
    <ul class="nav-links">
    <li class="{% if request.resolver_match.view_name == 'admin_dashboard' %}active{% endif %}">
    <a href="{% url 'admin_dashboard' %}"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
    </li>
    <li class="{% if request.resolver_match.view_name == 'sale_dashboard' %}active{% endif %}">
    <a href="{% url 'sale_dashboard' %}"><i class="fas fa-chart-line"></i> Sales</a>
    </li> 
    <li class="{% if request.resolver_match.view_name == 'stock_dashboard' %}active{% endif %}">
    <a href="{% url 'stock_dashboard' %}"><i class="fas fa-boxes"></i> Inventory</a>
    </li>
    
    <li class="{% if request.resolver_match.view_name == 'reports_dashboard' %}active{% endif %}">
    <a href="{% url 'reports_dashboard' %}"><i class="fa-solid fa-comment-medical"></i> Reports</a>
    </li>
    <li class="{% if request.resolver_match.view_name == 'register_user' %}active{% endif %}">
    <a href="{% url 'register_user' %}"><i class="fas fa-user-plus"></i> Register</a>
    </li>
    <a href="{% url 'user_logout' %}"><i class="fas fa-sign-out-alt"></i><span>Logout</span></a>
    </ul>
</div>