{% load static %}
{% block extra_css %}
     <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
{% endblock %}
<div class="sidebar">
    <div class="logo">
        <i class="fas fa-warehouse"></i>
        <span>NYONDO</span>
    </div>

    <ul class="nav-links">
        <li class="{% if request.resolver_match.view_name == 'stock_dashboard' %}active{% endif %}">
            <a href="{% url 'stock_dashboard' %}">
                <i class="fas fa-home"></i>
                <span>Stock Dashboard</span>
            </a>
        </li>

        <li class = "{% if request.resolver_match.view_name == 'stock_list' %}active{% endif %}">
            <a href="{% url 'stock_list' %}">
                <i class="fas fa-boxes"></i>
                <span>Stock List</span>
            </a>
        </li>

        <li class="{% if request.resolver_match.view_name == 'add_stock' %}active{% endif %}">
            <a href="{% url 'add_stock' %}">
                <i class="fas fa-plus-circle"></i>
                <span>Add Stock</span>
            </a>
        </li>

        <li class="{% if request.resolver_match.view_name == 'supplier_list' %}active{% endif %}">
            <a href="{% url 'supplier_list' %}">
                <i class="fas fa-truck"></i>
                <span>Suppliers</span>
            </a>
        </li>

        <li class="{% if request.resolver_match.view_name == 'supplier_credit_list' %}active{% endif %}">
            <a href="{% url 'supplier_credit_list' %}">
                <i class="fas fa-truck"></i>
                <span>Supplier Credit List</span>
            </a>
        </li>

    </ul>

    <div class="bottom">
        <a href="{% url 'login' %}">
            <i class="fas fa-sign-out-alt"></i>
            <span>Logout</span>
        </a>
    </div>
</div>

