{% extends 'base.html' %}
{% load static %}

{% block title %}
  Add Customer - Nyondo Hardware
{% endblock %}

 {% block sidebar %} {% endblock %} 
 

 {% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/add_customer.css' %}">
 {% endblock %}

{% block content %}
  
    <div class="container">
      <div class="header">
        <h2>Add New Customer</h2>
      </div>

      <div class="form-card">

        {% if messages %}
    {% for message in messages %}
        <div class="message">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
        <form method="POST" action="{% url 'add_customer' %}">
          {% csrf_token %}
          <div class="form-row">
            <div class="form-group">
              <label for="name">Customer Name *</label>
              <input
                type="text"
                maxlength="30"
                id="name"
                name="name"
                required
                placeholder="Enter customer name"
                value="{{ form_data.name|default:'' }}"
              />
            </div>
            <div class="form-group">
              <label for="nin">NIN (For Credit Customers) *</label>
              <input
                type="text"
                maxlength="30"
                id="nin"
                name="nin"
                required
                placeholder="Enter customer nin"
                value="{{ form_data.nin|default:'' }}"
              />
            </div>
          </div>

          <div class="form-row">
            <div class="form-group">
              <label for="email">Email Address *</label>
              <input
                type="email"
                id="email"
                name="email"
                required
                placeholder="customer@example.com"
                value="{{ form_data.email|default:'' }}"
              />
            </div>

            <div class="form-group">
              <label for="contact">Contact Number *</label>
              <input
                type="tel"
                id="contact"
                name="contact"
                required
                placeholder="+256701567890"
                value="{{ form_data.contact|default:'' }}"
              />
            </div>
          </div>

          <div class="form-group">
            <label for="address">Address *</label>
            <textarea
              id="address"
              name="address"
              required
              placeholder="Enter full address"
            >{{ form_data.address|default:'' }}</textarea>
          </div>

          <div class="checkbox-group">
            <input
              type="checkbox"
              id="is_credit_customer"
              name="is_credit_customer"
              {% if form_data.is_credit_customer %}checked{% endif %}
            />
            <label>Is On Credit</label>
          </div>

          <hr />

          <button type="submit" class="btn-submit">+ Add Customer</button>
        </form>
      </div>
    </div>
    {% endblock %}
  
