{% extends 'base.html' %}
{% load static %}

{% block title %}
   Customers - Nyondo Hardware
{% endblock %}

{% block sidebar %}{% endblock %}

{% block sidenav %}{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/customer_list.css' %}">
{% endblock %}

{% block content %}
  
    <div class="container">
      <div class="header">
        <h2>Customers</h2>
        <div class="btn-group">
          <a href="{% url 'add_customer' %}" class="btn-add">+ Add Customer</a>
        </div>
      </div>
      <div class="table_wrapper">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>NIN</th>
              <th>Contact</th>
              <th>Address</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            {% if customers %} {% for customer in customers %}
            <tr>
              <td>{{ customer.name }}</td>
              <td>{{ customer.email }}</td>
              <td>{{ customer.nin }}</td>
              <td>{{ customer.contact }}</td>
              <td>{{ customer.address }}</td>
              <td class="actions">
                <a href="{% url 'edit_customer' customer.id %}" class="edit"
                  >Edit</a
                >
                <a href="{% url 'delete_customer' customer.id %}" class="delete"
                  >Delete</a
                >
              </td>
            </tr>
            {% endfor %} {% else %}
            <tr>
              <td colspan="7" class="empty">
                No customers found. Add one to get started.
              </td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
    {% endblock %}