{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   {% block title %} NYONDO Hardware - Dashboard {% endblock %}
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
   
    
   
    {% block extra_css %} 
    
    {% endblock %}
</head>
<body>

    {% block sidebar %}
        {% include 'includes/sidebar.html' %}
    {% endblock %}


{% block navs %}
    {% include 'includes/sale_sidebar.html' %}
{% endblock %}

{% block sidenav %}
    {% include 'includes/sidebar'   %}
{% endblock %}



{% block content %}
    
{% endblock %}

 </body>
</html>   